.container-fluid {
    height:100vh;
    width: 100%;
}


html,body {
    background-color: #15133C;
    height:100%;

}

.btn {
    background-color: #FEB139;
    border:0;
    color:black;
    box-shadow:none;
    outline:0;
    max-width:50%;
    display: inline-block !important;

}
.btn:hover, btn:active, .btn:focus, .btn:disabled {
    background-color: #FEB139;
    border:0;
    outline:0;
    color: black;
    box-shadow:none !important;
}

.btn:hover {
    color:#F8ECD1 !important;
}

.svg {
    filter: invert(74%) sepia(42%) saturate(1398%) hue-rotate(332deg) brightness(109%) contrast(99%);
    max-width: 60vh;
  
    
}

.img-modal {
   position:absolute;
   max-width: 38%;
   border-radius: 50%;
   margin-top:7%;
   margin-right:1%;

}

.svg-modal {
    filter: invert(74%) sepia(42%) saturate(1398%) hue-rotate(332deg) brightness(109%) contrast(99%);
    max-width:75%
}

.my-modal {
    max-width: fit-content;
}

.spinner {
    width: 1.4em; 
    height: 1.4em;
}